<%- include("header") -%>
<%- include("adminnevbar") -%>

<div class="container" style="margin-top:10rem;">


<div class="container" style="margin-top:10rem;">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <img src="images/add_book.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Add/Modify</h5>
          <p class="card-text">Improvenent is the key. No book collection in enough or ample. Here comes our feature of barcode addition or modification.</p>
          <a href="/add-modify" class="btn btn-primary">Add/Modify</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <img src="images/find.jpeg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Find</h5>
          <p class="card-text">You are just a click away to explore a humungous collection.Just say and we have it all.It's our pleasure to surve you whatever you want.</p>
          <a id="shelfmapbtn" class="btn btn-primary text-light">Shelf Map</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <img src="images/requested.jpeg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Requested</h5>
          <p class="card-text">Get notified with the requests if the khowledge hungry students and know about the current demands of the Generation.</p>
          <a href="/requests" class="btn btn-primary">Requests</a>
        </div>
      </div>
    </div>
  </div>
</div>



<%- include("footer") -%>
