<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Bookvilla</title>
  <!-- description -->
  <meta name="description" content="This site is compiled version of library managment of 'Dr. Ambedkar Institute of Technology',User can search through variety of books.It ">
  <!-- favicon -->
  <link rel=" icon" type="icon" href="images/favicon.ico">

  <!-- stylesheet -->
  <link rel="stylesheet" media="all" href="css/styles.css">
  <script src="/assets/application-de61c0ffed2253bb8822efb681a33b2a0ef0e868818bb9fed175957ecf192d35.js"></script>

  <!-- Font Awosome script -->
  <script src="https://kit.fontawesome.com/ce92b2fdb2.js" crossorigin="anonymous"></script>

  <!-- bootstrap script -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
