<%- include("header") -%>
<%- include("studentnevbar") -%>
<div class="card-body px-lg-5 pt-0">
  <div class="alert alert-info align-middle" role="alert" style="width:80%;">
    Sorry, No Notification yet.
  </div>

</div>


<%- include("footer") -%>
