<%- include("header") -%>
<%- include("adminnevbar") -%>

<div class="shelfMap">
  <h5 class="card-header info-color white-text text-center py-4">
      <strong>Modify Shelf Map</strong>
  </h5>
  <img id="shelfMapimg" src="images/shelfMap.jpg">
  <form action="#">
    <input type="file" id="upload" accept="image/*;capture=camera">
</form>
</div>




<%- include("footer") -%>
