<%- include("header") -%>
<%- include("studentnevbar") -%>

<div class="container" style="margin-top:10rem;">


  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <img src="images/request.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Request</h5>
          <p class="card-text">It's our prime duty to keep ypur demand at top priority. We refrain from abstracting the users through knowledge.</p>
          <a href="/request" class="btn btn-primary">Request</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <img src="images/find.jpeg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Find</h5>
          <p class="card-text">You are just a click away to explore a humungous collection.Just say and we have it all.It's our pleasure to surve you whatever you want.</p>
          <a id="shelfmapbtn" class="btn btn-primary text-light">Shelf Map</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <img src="images/interact.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Interect</h5>
          <p class="card-text">We try to make our user as much satisfied by the easy to use and interactive UI. We prioritize your comfort.</p>
          <a href="/contact" class="btn btn-primary">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</div>



<%- include("footer") -%>
